.advantages {
  padding: 0 10px;

  &__list {
    display: flex;
    flex-direction: column;    
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__item {
    position: relative;
    padding-left: 60px;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 50px;
      height: 50px;
      transform: translateY(-25px);
      background-image: url(./image/advantages/safe.svg);
    }
  }


  &__subtitle {
    color: #33719be3;
    margin-bottom: 5px;
  }
}