html {
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $main-background;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

.btn {
  padding: 0;
  border: none;
  cursor: pointer;
  font-family: 'Cuprum', sans-serif;
  font-weight: 500;
  text-align: center;
  color: $title-color;
  background-color: transparent;

  &--large {
    font-size: 16px;
  }

  &--primary {
    background: $primary-color;
    padding: 5px;
    border-radius: 3px;
    width: 90%;
    color: $title-color;
  }
}

.icon {
  width: 25px;
}


.title {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Cuprum', sans-serif;
  font-weight: 500;
  color: $title-color; 

  &--square {
    display: inline-block;
    position: relative;
    z-index: 10;

    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      left: -6px;
      bottom: 3px;
      width: 90%;
      height: 7px;
      background-color: $primary-color;
    }
  }

  &--square-invert {
    &::before {
      background-color: #fff;
    }
  }
}

main > section {
  margin-bottom: 50px;
}