*,
::before,
::after {
  box-sizing: border-box;
}

html {
  height: 100vh;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: $main-background;
}

main > section {
  margin-bottom: 1.875rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

.btn {
  width: 90%;
  padding: 5px;
  border: none;
  border-radius: 3px;
  text-align: center;
  font-family: 'Cuprum', sans-serif;
  font-weight: 500;
  color: $title-color;
  background-color: transparent;
  cursor: pointer;

  &--large {
    font-size: 1.2rem;
  }

  &--primary {
    background: $primary-color;
    color: $title-color;
  }
}

.icon {
  fill: currentColor;
  width: 25px;
}


.title {
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Cuprum', sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  color: $title-color;

  &--small {
    margin-bottom: 0;
    font-size: 1.25rem;
  }

  &--square {
    display: inline-block;
    position: relative;
    z-index: 10;

    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      left: -6px;
      bottom: 3px;
      width: 90%;
      height: 7px;
      background-color: $primary-color;
    }
  }

  &--square-invert {
    &::before {
      background-color: #fff;
    }
  }
}

.text {
  font-size: 0.88rem;
  color: $text-color;
}