html {
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fafafa;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.btn {
  text-align: center;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;

  &--large {
    font-size: 16px;
  }

  &--primary {
    background: #ece579;
    padding: 5px;
    border-radius: 3px;
    width: 90%;
    color: #171505;
  }
}

.icon {
  width: 25px;
}


.title {
  color: #596161; 
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Cuprum', sans-serif;
  font-weight: 500;
}

main > section {
  margin-bottom: 50px;
}