.main__catalog {

  &-btn {
    width: 100%;
    padding: 10px 0 10px 0;
    border: none;
    cursor: pointer;
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: $primary-color;
    background-color: $secondary-color;
  }

}

.catalog {
  display: flex;
  flex-direction: column;

  &--close {
    display: none;
  }

  &--open {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1000;

    background-color: tomato;
  }

  &__title {
    text-transform: uppercase;
  }

  &__item {
    padding: 5px;
    border-bottom: 1px solid #ccc;

    &:not(:last-child) {
      margin-bottom: 10px;  
    }
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $text-color;
  }

  &__icon {
    fill: #3c4b68;
    width: 30px;
    height: 30px;
  }

  &__name{
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    margin-left: 15px;
  }
}


.header--sticky + .catalog {
  margin-top: 44px;
}