.main__catalog {

  &-btn {
    width: 100%;
    padding: 10px 0 10px 0;
    border: none;
    cursor: pointer;
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: $primary-color;
    background-color: $secondary-color;
  }

}

.catalog {
  display: flex;
  flex-direction: column;

  &--main {
    display: none;

    @include breakpoint(laptop) {
      display: block;

      & .catalog__list {
        display: flex;
        padding: 10px 0;
        background-color: $secondary-color;
      }

      & .catalog__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 5px;
        border-bottom: none;

        &:not(:last-child) {
          margin-bottom: 0;
          border-right: 1px solid $border-color;  
        }
      }

      & .catalog__link {
        flex-direction: column;
        color: $light-color;

        &:hover,
        &active {
          color: $primary-color;
        }        
      }

      & .catalog__icon {
        fill: $light-color;
        margin-bottom: 5px;
      }

      & .catalog__name {
        margin-left: 0;
      }
    }
  }

  &--sidebar {
    @include breakpoint(laptop) {
      display: none;
    }
  }

  &--close {
    display: none;
  }

  &__title {
    text-transform: uppercase;
  }

  &__list {

  }

  &__item {
    padding: 5px;
    border-bottom: 1px solid #ccc;

    &:not(:last-child) {
      margin-bottom: 10px;  
    }
  }

  &__link {
    display: flex;
    align-items: center;
    width: 100%;
    color: $text-color;
    text-decoration: none;
    transition: all .35s;

    &:hover .catalog__icon,
    &:active .catalog__icon {
      fill: $primary-color;
    }
  }

  &__icon {
    fill: $secondary-color;
    width: 30px;
    height: 30px;
    transition: all .35s;
  }

  &__name{
    margin-left: 15px;
    text-align: center;
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
  }
}