.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  color: #d2c9e3;
  padding: 20px 10px;
  background-color: $secondary-color;

  &__section {
    display: flex;
    flex-direction: column;
    width: calc(100% / 1);

    &:not(:last-child) {
      margin-bottom: 2rem;

      @include breakpoint(phone_landscape) {
        margin-bottom: 0;  
      }
    }

  }

  &__title {
    margin: 0;
    color: $primary-color;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    max-height: 10rem;
    text-align: center;
  }

  &__item {
    width: calc(100% / 2);
    padding: 0 0.625rem 0.625rem;
  }

  &__link {
    color: $light-color;
  }

  @include breakpoint(phone_landscape) {
    flex-direction: row;

    &__list {
      flex-direction: column;
      max-height: 15rem;
      text-align: left;
    }

    &__item:not(:last-child) {
      margin-bottom: 0.5rem;
    }

  }

}

.thanks {

  &__item:not(:last-child) {
    margin-bottom: 10px;
  }

  & a {
    color: #ece579;
  }
}