.header-top{
  min-height: 20px;
  min-width: 1px;
  background-color: $primary-color;
}

.header {
  position: static;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 0.625rem 0.3125rem;
  background-color: $primary-color;
  transition: all 0.1s ease-out;

  &__banner {
    display: none;
  }

  &__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    z-index: 100;
    background-color: #fff;
    box-shadow: 1px 0px 5px 1px #00000047;

    & .close {
      width: 100%;
      text-align: right;
    }

    @include breakpoint(laptop) {
      display: block !important;
      position: relative;
      width: auto;
      height: auto;
      background-color: transparent;
      box-shadow: none;
      z-index: 0;
      order: 2;

      & .close {
        display: none;
      }
    }
  }

  &--sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
    
    & .logo {
      position: absolute;
      width: 0;
      height: 0;
      font-size: 0;
      visibility: hidden;
    }
  }
}

.header--sticky + .catalog {
  margin-top: 44px;
}

.header--sticky ~ main {
  margin-top: 44px;

  @include breakpoint(laptop) {
    margin-top: 0;
  }
}

.logo {
  display: flex;
  justify-content: center;
  width: 100%;

  &__img {
    width: 40px;
  }

  @include breakpoint(laptop) {
    width: auto;
  }
}

.search {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin: 0 .7rem;

  &__bar {
    width: 100%;
    padding: 5px;
    padding-right: 30px;
    border: none;
    border-radius: 3px;
    transition: all .2s;
  }

  &__btn {
    position: absolute;
    right: 10px;
    padding: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url(./image/search.svg);
    border: none;
    cursor: pointer;
  }

  @include breakpoint(laptop) {
    flex-grow: 0;
  }
}

.user-bar {
  display: flex;
  align-items: center;
  padding: 10px 5px;
  cursor: pointer;
  background-color: $secondary-color;

  &__link {
    display: flex;
    align-items: center;
    color: $light-color;
  }

  &__icon {
    color: currentColor;
    margin-right: 15px;
  }

  &__name {
    font-size: 1.1rem;
    font-family: 'Cuprum', sans-serif;
    color: currentColor;
  }

  @include breakpoint(laptop) {
    background-color: transparent;

    &__link {
      color: $secondary-color;
    }
  }
}

.cart {
  display: flex;
  align-items: center;
  margin-left: auto;


  &__btn {
    width: 30px;
    height: 30px;
    padding: 0;
    background-image: url(./image/cart.svg);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  @include breakpoint(laptop) {
    margin-left: 0;
    order: 3; 
  }
}

.phone {
  display: flex;
  align-items: center;
  color: currentColor;

  &__icon {
    margin-right: .3rem;
    fill: currentColor;
  }


  &__text {
    min-width: 9.5rem;
    font-family: 'Cuprum', sans-serif;
    font-size: 1.2rem;
  }
}