.header-top{
  min-height: 20px;
  min-width: 1px;
  background-color: $primary-color;
}

.header {
  position: static;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.625rem 0.3125rem;
  background-color: $primary-color;
  transition: all 0.1s ease-out;

  &__banner {
    display: none;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;

    &--shrink {

    }
  }

  &--sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
    
    & .logo {
      position: absolute;
      width: 0;
      height: 0;
      font-size: 0;
      visibility: hidden;
    }
  }
}

.logo {
  display: flex;
  justify-content: center;
  width: 100%;

  & a {
  }

  &__img {
    width: 40px;
  }
}

.search {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin: 0 1rem;

  &__bar {
    width: 100%;
    padding: 5px;
    padding-right: 30px;
    border: none;
    border-radius: 3px;
    transition: all .2s;
  }

  &__btn {
    position: absolute;
    right: 10px;
    padding: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url(./image/search.svg);
    border: none;
    cursor: pointer;
  }
}


.user-bar {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  cursor: pointer;
  background-color: $secondary-color;

  &__icon {
    color: $light-color;
    margin-right: 15px;
  }

  &__name {
    font-size: 1.1rem;
    font-family: 'Cuprum', sans-serif;
    color: $light-color;
  }
}


.cart {
  display: flex;
  align-items: center;
  margin-left: auto;


  &__btn {
    width: 30px;
    height: 30px;
    padding: 0;
    background-image: url(./image/cart.svg);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}



.phone {
  display: flex;
  align-items: center;
  color: currentColor;

  &__icon {
    margin-right: .3rem;
    fill: currentColor;
  }


  &__text {
    min-width: 9.5rem;
    font-family: 'Cuprum', sans-serif;
    font-size: 1.2rem;
  }
}