.help {
  width: 100%;
  padding: 1rem;
  text-align: center;
  border-top: 3px solid #5a5a5a;
  border-bottom: 3px solid #5a5a5a;

  &__title {
    margin-bottom: 1rem;
    color: white;
  }

  &__subtitle {
    margin-bottom: 1rem;
    color: $light-color;
  }


  &__section {

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }


  &__item:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__item {
    color: $primary-color;

    & a {
      justify-content: center;
    }
  }

  @include breakpoint(phone_landscape) {
    padding: 0;
    border: none;
  }
}