.nav {
  display: flex;
}


.hamburger {
  display: block;
  width: 40px;
  height: 40px;
  align-self: center;
  
  & svg {
    fill: #111;
  }


  &--close + .header__info {
    display: none;
  }

  &--open + .header__info {
    display: block;
  }
}


.sidebar {
  position: relative;
  overflow: auto;

  &--close {
    display: none;
  }

  &--open {
    position: fixed;
    z-index: 1000;
    background-color: $main-background;
    width: 85%;
    left: 0;
    top: 0;
    height: 100%;

    & + .sidebar__overflow {
      display: block;
    }
  }

  &__overflow {
    display: none;
  }


  &__header {
    display: flex;
    flex-direction: column;
    background-color: $primary-color;
    padding: 35px 20px 20px;
  }

  &__close-btn {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 20px;
    padding: 0;
    height: 2px;
    background-color: #111;
    transform: rotate(45deg);

    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background-color: #111;
      transform: rotate(-90deg);
    }
  }

  &__catalog {
    padding: 20px;
  }
}


.overflow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  background-color: rgba(0,0,0, .7);
}