.quantity {
  display: flex;
  width: 100%;
  padding: 5px;

  &__btn {
    position: relative;
    width: 40px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    color: $secondary-color;
    border: 1px solid $border-light-color;
    border-radius: 3px;


    &--small {

    }

    &--large {
      
    }

    &:hover,
    &:active {
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }

  &__input {
    width: 30px;
    margin: 0 10px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid $border-light-color;
  }
}