/*COLORS*/
$primary-color: #FFCE00;
$secondary-color: #434343;
$light-color: #ededed;
$title-color: #474747;
$text-color: #686868;
$link-color: #3b6d9a;
$danger-color: #e55c44;
$main-background: #fcfcfc;

$primary-color-v2: #dfb950;
$secondary-color-v2: #1f1f2c;