.widget {
  padding: 0 0.625rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .88rem;
  }

  &__title {
    margin: 0;
  }

  &__btn {
    width: auto;
    padding: 0;
    color: #111213;
  }
}