.widget {
  padding: 0 10px;

  &__container--inline {
    overflow: auto;
    padding-bottom: 15px;
  }

  &__container--inline > * {
    flex-direction: row;
  }


  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__title {
    margin: 0;
  }

  &__btn {
    color: #111213;
  }
}

.card {
  display: flex;


  &__item {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 200px;
  }

  &__item:not(:last-child) {
    margin-right: 40px;
  }


  &__link {
    margin-bottom: 20px;
  }

  &__pic {
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 10px;
    color: #615d61;
  }

  &__price {
    color: #33719be3;
    font-size: 20px;
    font-weight: bold;
  }

  &__describe {
    color: #615d61;
  }

  &__btn {
    margin: auto;
  }
}